body{
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.signin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.int{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2vh;
}
.int input{
    width: 17vw;
    height: 4vh;
    border-radius: 4vh;
    border: none;
    padding-left: 10px;
    font-size: 2vh;
}
.submitSignin input{
    width: 8vw;
    height: 4vh;
    border-radius: 4vh;
    border: none;
    font-weight: 550;
    font-size: 1.5vh;
}